*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 2rem 6rem 0rem 6rem;
}

.vertical.element{
    position: fixed;
    top: 45%;
    left: 0rem;
}

#styleguide{
    position: fixed;
    top: 78%;
    right: 0rem;
}

#github{
    margin-top: 1rem;
    position: fixed;
    top: 85%;
    right: 0.5rem;
}

#home.element {
    position: fixed;
    top: 30%;
}

.page.element {
    margin-top: 7rem;
}

#about, #projects{
    padding-right: 1rem;
}


/* -------------BODY CONTENT-------------- */

.bodycontent {
    /* padding-top: 2rem; */
    margin-top: 5rem;
}

h3.for-project{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h4.for-project{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

p.for-project{
    margin-top: 0;
}

.img-slide-control {
    text-align: center;
    margin-top: 2rem;
}

.img-slide-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
    .nav-link {
        float: none;
        width: 100%;
    }

    #main.nav-link {
        margin-bottom: 1rem;
    }

    body {
        margin: 2rem 4rem 0rem 4rem;
    }
}

@media screen and (max-height: 500px) {
    #styleguide{
        top: 40%;
    }
    
    #github{
        margin-top: 1rem;
        position: fixed;
        top: 60%;
        right: 0.6rem;
    }
}


@media screen and (max-height: 250px) {
    #styleguide, #github {
        display: none;
    }
}